.colores {
    color: #C3D898;
}
.color-rgb{
    color: rgb(139, 57, 221)
}
.color-rgba{
    color: rgba(139, 57, 221,0.5)
}
.fondo {
    background-color: aquamarine;
    background-image: url("https://img.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg?w=2000");
    background-position: left bottom;
}
.fondo-interno{ 
    background-image: url("image.jpg");

}
.ancho {
    background-color: #C3D898;
    width: 100px;
}
.alto{
    background-color: aquamarine;
    height: 100px;
}
.tarjeta {
    border-style: solid;
    border-color: rgb(150, 150, 150);
    border-width: 1px;
    border-top: none;
    padding: 10px 20px 30px 40px;
    margin: 10px 20px;
}